{{ define "curtidas" }}
<i class="fas fa-heart curtir-publication" style="cursor: pointer;"></i>
<span> {{ .Curtidas }} </span>
{{ end }}

{{ define "editar" }}
<a href="/publications/{{ .ID }}/atualizar" style="text-decoration: none;">
    <i class="fas fa-edit"></i>
</a>
{{ end }}

{{ define "deletar" }}
    <i class="fas fa-trash text-danger deletar-publication" style="cursor: pointer;"></i>
{{ end }}

{{ define "cabecalho-publication" }}
    <h1 class="display-4"> {{ .Titulo }} </h1>
    <p class="lead">{{ .Conteudo }}</p>
    <a href="/users/{{ .AutorID }}"> {{ .AutorNick }} - {{ .CriadaEm.Format "02/01/2006" }} </a>
    <hr class="my-4">
{{ end }}

{{ define "publication-com-permissao" }}
    <div class="jumbotron" data-publication-id="{{ .ID }}">
        {{ template "cabecalho-publication" . }}
        <p>
            {{ template "curtidas" . }}
            {{ template "editar" . }}
            {{ template "deletar" . }}
        </p>
    </div>
{{ end }}

{{ define "publication-sem-permissao" }}
    <div class="jumbotron" data-publication-id="{{ .ID }}">
        {{ template "cabecalho-publication" . }}
        <p>
            {{ template "curtidas" . }}
        </p>
    </div>
{{ end }}